* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font link */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;700&family=Work+Sans:wght@600;700&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    width: 100%;
}

/* Header section */
header {
    background-color: #FF900E1A;
}

/* nav bar */
nav {
    padding: 0 200px;
    display: flex;
    justify-content: space-between;
}

nav h2 {
    padding: 50px 0 30px 0;
}

nav ul {
    padding: 60px 0 0 0;
    display: flex;
    list-style-type: none;
    gap: 20px;
}

/* Page intro section */
.banner-intro-image {
    margin: 100px auto;
}

.banner-intro {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.banner-title {
    font-size: 44px;
    padding-bottom: 30px;
}

.text-primary {
    font-size: 12px;
}

.button {
    padding: 32px 0 50px 0;
}

.primary-btn {
    width: fit-content;
    padding: 10px 20px;
    border-radius: 8px;
    border: 0;
    color: white;
    background-color: #FF900E;
}

.banner-image {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 45px;
}

/* Main section */
/* List of feature section */
.list-of-our-feature, .feature-love-info-image{
    padding: 0 150px;
    gap: 100px;
    width: 100%;
    display: flex;
}

.team-images {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    gap: 20px;
}
.team-images img {
    width: 242px;
    height: 242px;
}

.feature-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.feature-info .title-main {
    padding-bottom: 24px;
    font-size: 30px;
    color: #131313;
}
.title-main .info-span1{
    color: #727272;
}
.title-main .info-span2{
    color: #FF900E;
}

/* Feature you will love section */
.feature-love-info-image{
    position: relative;
    padding: 100px 120px;
    gap: 50px;
    width: 100%;
    height: 910px;
    display: flex;
}
.feature-love-info{
    width: 50%;
    height: 680px;
}
.title-secondary{
    padding: 5px 0 0 5px ;
    border-left: 3px solid #FF900E;
}
.text-primary{
    padding-top: 30px;
    width: 100%;
}

.feature{
    width: 100%;
    border: 0;
    border-radius: 5px;
    margin-top: 20px;
    padding: 15px 15px 15px 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
}
.feature-love-image{
    width: 50%;
}
.feature-love-image img{
    height: 680px;
}
.secondary-btn{
    position: absolute;
    left: 49%;
    top: 78%;
    width: fit-content;
    padding: 30px;
    border-radius: 8px;
    border: 0;
    color: white;
    background-color: #FF900E;
}
.secondary-btn .year{
    font-size: 30px;
    font-weight: 600;
}
.secondary-btn .exp{
    font-size: 15px;
    font-weight: 400;
}

/* Facts section */
.some-facts{
    width: 100%;
    padding: 0 120px;
}
.facts{
    padding: 50px 50px;
    display: flex;
    justify-content: space-between;
}
.fact{
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 5px;
    width: 150px;
    padding: 20px;
    transition: transform 2s ease-out .1s;
}
@keyframes example {
    0%   {border-radius: 8%; background-color: rgba(248, 239, 225, 0.499);}
    25%  {border-radius: 16%; background-color: rgba(248, 239, 225, 0.601);}
    50%  {border-radius: 30%; background-color: rgba(248, 239, 225, 0.759);}
    100% {border-radius: 50%; background-color: rgba(248, 239, 225, 0.927);}
  }
.fact:hover{
    animation-name: example;
    animation-duration: 3s ;
    transform:scale(.75) ;
}
.fact-number{
   color: #424242;
   font-weight: 600;
   font-size: 20px;
   padding: 5px 0;
}
.fact-name{
   color: #727272;
   font-size: 14px;
}

/* Our sopnsors section */
.our-sponspors{
    width: 100%;
    padding: 100px 100px 0 100px;
    text-align: center;
}
.sponsor-logos{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Feedback part */
.feedback{
    background-color: rgba(241, 234, 226, 0.396);
    padding: 100px 100px;
    text-align: center;
}
.feedback >h2{
    padding-bottom: 50px;
}
.customers{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 30px;
    justify-items: center;
}

.customer img{
    height: 100px;
    width: 100px;
}
.fill{
    color: #FF900E;
}
.empty{
    color: #72727280;
}

/* Footer part */
.footer{
    justify-content: center;
    text-align: center;
    background-color: #FFF4E7;
    width: 80%;
    height: fit-content;
    padding: 0 30px 30px 30px;
    margin: 100px auto;
    border-radius: 8px;
}

/* Responsive for Medium device */
@media screen and (max-width:992px){
        /* Headder Responsive */
        nav{
            padding: 0 50px;
        }
        .banner-intro{
            width:90%;
        }
        .banner-image, .banner-image img{
            width: 100%;
        }
    
        /* Main Part Responsive */
        .list-of-our-feature{
            flex-direction: column;
            width: 90%;
            padding: 0;
            margin: 0 auto;
            align-items: center;
            text-align: center;
        }
        .feature-love-info-image{
            flex-direction: column;
            width: 90%;
            margin: 0 auto;
            padding: 0;
        }
        .feature-love-info, .feature-love-image{
            width: 100%;
            margin: 0 auto;
        }
        .feature-love-image img{
            width: 100%;
        }
        .secondary-btn{
            left: 35%;
            top: auto;   
        }
        .some-facts{
            text-align: center;
            padding: 700px 0 0 0 ;
            width: 90%;
            margin: 0 auto;
        }
        .facts, .sponsor-logos{
            gap: 40px;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .our-sponspors{
            width: 80%;
            padding: 50px 0 0 0 ;
            margin: 0 auto;
        }
    
        /* Footer Responsive */
        /* Already Responsive  */
    
}

/* Responsive for Mobile device */
@media screen and (max-width:688px) {

    /* Headder Responsive */
    nav, nav ul{
        padding: 0 50px;
        flex-direction: column;
        align-items: center;
    }
    .banner-intro{
        width:90%;
    }
    .banner-image, .banner-image img{
        width: 100%;
    }

    /* Main Part Responsive */
    .list-of-our-feature{
        flex-direction: column;
        width: 90%;
        padding: 0;
        margin: 0 auto;
        text-align: center;
    }
    .team-images{
        grid-template-columns: repeat(1, 1fr);
    }
    .feature-love-info-image{
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        padding: 0;
    }
    .feature-love-image img{
        width: 100%;
    }
    .secondary-btn{
        left: 33%;
        top:auto;
    }
    .facts, .sponsor-logos{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .our-sponspors{
        width: 90%;
        padding: 50px 0 0 0 ;
        margin: 0 auto;
    }
    
    .customers{
        grid-template-columns: repeat(1,1fr);
    }

    /* Footer Responsive */
    /* Already Responsive  */ 
}